<style>
    #menuContainer2 {
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        transition: opacity .2s ease-in-out;
    }

    #datePickerBox{
        background-color: white;
        width: 500px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    button{
        width: 100px;
        height: 35px;
        border-radius: 7px;
        border: 1px solid blue;
        color: blue;
        background-color: rgba(0,0,250, .3)
    }
</style>

<div id="menuContainer2">
    <div id="datePickerBox">
        <h1 style="text-align: center;">بازه زمانی</h1>
        <input required id="dateInput" data-jdp placeholder="از تاریخ" style="text-align: center;">
        <input required id="dateInput2" data-jdp placeholder="تا تاریخ" style="text-align: center;">
        <input required placeholder="تامین کننده" list="tamins" id="tamin" autocomplete="off">
        <datalist id="tamins">
            <% allShops.forEach((shop) => { %>
                <option value="<%=shop.name%>">
            <% }) %>
        </datalist>
        <button id="dateSubmit">ثبت</button>
    </div>
</div>

<script>

</script>