<link rel="stylesheet" href="/css/datePickerStyle.css">
<div id="menuContainer2">
    <div id="datePickerBox">
        <h1 style="text-align: center;">بازه زمانی</h1>
        <input required id="dateInput" data-jdp placeholder="از تاریخ" style="text-align: center;">
        <input required id="dateInput2" data-jdp placeholder="تا تاریخ" style="text-align: center;">
        <input required placeholder="تامین کننده" list="tamins" id="tamin" autocomplete="off">
        <datalist id="tamins">
            <% allShops.forEach((shop) => { %>
                <option value="<%=shop.name%>">
            <% }) %>
        </datalist>
        <button id="dateSubmit">ثبت</button>
    </div>
</div>