<link rel="stylesheet" href="/css/menuStyle.css">
<div id="hamburgerMenu">
    <span></span><span></span><span></span>
</div>

<div id="menuContainer" class="<%=(q && q == "menu") ? "df" : ""%>">
    <p id="menuContainer-close">X</p>
    <div class="menuBox">
        <a href="/?list=sabtFaktor">ثبت فاکتور</a>
        <a href="/?list=sabtPardakht">ثبت پرداخت</a>
        <a href="/report">گزارش</a>
        <a href="/shops">افزودن تامین کننده</a>
    </div>
</div>

<script src="/js/menuScript.js" defer></script>